.navbar {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-right{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-left{}
.navbar-logo {
  color:var(--secondery-color);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
 display: flex;
 align-items: center;
 gap: 2rem;
  
  list-style: none;
  text-align: center;
  width: 60vw;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}
.nav-btn{
  
}

.nav-links {
  color: var(--secondery-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid var(--secondery-color);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color:var(--secondery-color);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
#icon{

font-size: 42px;
margin-left: 5rem;
color: var(--secondery-color);

}

@media  (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    justify-content: flex-start;
  }

  .nav-menu.active {
    background: var(--primary-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color:var(--primary-color);
    color: var(--secondery-color);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--secondery-color);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: var(--primary-color);
    color: var(--secondery-color);
    transition: 250ms;
  }
  #icon{
    position: absolute;
    transform: translate(200px,-5px);
  }
 
}